/* features */
.section {
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 0;
}

.features-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.features-container__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features-container__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container__list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
}

.features-container__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.features-container__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-container__icon {
  fill: #000000;
}

.features-container__heading {
  margin-top: 30px;
  margin-bottom: 10;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-color;
}

.features-container__text {
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;

  color: #757575;
}
