/* our team */
.team-section {
  background-color: #f5f4fa;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.team-container__title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-container__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.team-container__item {
  margin-right: 30px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:last-child {
    margin-right: 0;
  }
}

.socials {
  background-color: $white-color;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.socials__title {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.socials__text {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.socials__list {
  display: flex;
  padding: 0;
  margin-top: 16px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25x;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: $white-color;

  transition: background-color $animation;
}

.socials__link:hover,
.socials__link:focus {
  background-color: $accent-color;
}

.socials__icon {
  fill: #afb1b8;

  transition: fill $animation;
}

.socials__link:hover .socials__icon,
.socials__icon:focus {
  fill: $white-color;
}
